form {
    background-color: rgb(212, 45, 73);
    color: yellow;
    width: 700px;
    height: 400px;
    margin: 100px auto 100px;
    padding: 30px;
}

.error{
    color: red;
}

.no-error{
    color: rgb(0, 255, 0);
}